#slider {
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    overflow: hidden;
    position: relative;
}
#slider .slides {
    display: flex;
    animation-name: pociag-w-lewo;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}
button {
    text-align: center;
}

@keyframes pociag-w-lewo {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(500);
    }
    75% {
        transform: translateX(1500);
    }
    100% {
        transform: translateX(-2000px);
    }
}